# Application
BASE_URL=https://www.saucedemo.com

# Test Users
STANDARD_USER=standard_user
LOCKED_OUT_USER=locked_out_user

# Password stored as Base64 (encode with: Buffer.from('your_password').toString('base64'))
# secret_sauce → c2VjcmV0X3NhdWNl
PASSWORD=c2VjcmV0X3NhdWNl

# Browser config: chromium | firefox | webkit
BROWSER=chromium
HEADLESS=false
